body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.preamble {
  height: 20vh;
}

.intro {
  display: flex;
  height: 40vh;
  background-color: #7EC8E3;
  text-align: center;
  vertical-align: middle;
}

.vertically-centered-intro {
  text-align: center;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: auto;

}

.inline p {
  display: inline;
}

.fade-in {
  font-size: 90pt;

animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}

.fade-in2 {
  font-size: 30pt;
animation: fadeIn2 ease 6s;
-webkit-animation: fadeIn2 ease 6s;
-moz-animation: fadeIn2 ease 6s;
-o-animation: fadeIn2 ease 6s;
-ms-animation: fadeIn2 ease 6s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeIn2 {
0% {opacity:0;}
50%  {opacity: 0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn2 {
0% {opacity:0;}
50%  {opacity: 0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn2 {
0% {opacity:0;}
50%  {opacity: 0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn2 {
0% {opacity:0;}
50%  {opacity: 0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn2 {
0% {opacity:0;}
50%  {opacity: 0;}
100% {opacity:1;}
}

.panel2 {
  height: 50vh;
  background-color: white;
  margin: auto;
  margin-left: 30vw;
  margin-right: 30vw;
  display: inline-block;
  line-height: 200%;
  font-size: 20pt;

}

.panel3 {
  background-color: #7EC8E3;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.panel3inner {
  padding: 15px;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 5vh;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.centered {
  text-align: center;
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.goodCredit {
  font-weight: bold;
  color: #7FFFD4;

}

.badCredit {
  font-weight: bold;
  color: #FFCCCB;
}

.okCredit {
  font-weight: bold;
  font-size: 125%;
}

.panel4 {
  height: 30vh;
  padding-top: 5px;
  text-align: center;
}

.linkTitle {
  font-size: 40px;

}

a:link,a:visited {
   color: Black;
   background-color: #FFFFFF;
   text-decoration: none;
   target-new: none;
  }
  a:hover {
   color: Black;
   background-color: White;
   text-decoration: underline;
   target-new: window;
  }
  a {
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .panel5 {
    background-color:#7EC8E3;
    text-align: center;
    color: white;
    font-weight: bold;
  }
